@keyframes animeNikename {
    0% {
      opacity: 0;
      top: 42%;
    }
    100% {
      opacity: 1;
      top: 39%;
    }
  }
  
  @keyframes crossfade {
    0% {
      opacity: 100;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes toFullname {
    0% {
      top: 100%;
      opacity: 0;
    }
    100% {
      opacity: 1;
      top: 70%;
    }
  }
  
  @keyframes endFullname {
    0% {
    }
    100% {
      width: 0;
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes pushSide {
    0% {
      right: 0;
      opacity: 0;
    }
    100% {
      opacity: 1;
      right: 10%;
    }
  }
  
  @keyframes seExit {
    to {
      opacity: 0;
      right: 0;
    }
  }
  
  @keyframes upExit {
    to {
      opacity: 0;
      left: 0;
    }
  }
  
  @keyframes btnShow {
    0% {
      opacity: 0;
      font-size: 12px;
      box-shadow: 0 0 0 0 #2c2c2d;
      transform: scale(0.5);
      top: -50%;
    }
    10% {
      opacity: 1;
    }
    45% {
      top: 50%;
      transform: scale(0.5);
    }
    100% {
      font-size: 12px;
      box-shadow: 0 0 0 0 #2c2c2d;
    }
  }
  
  @keyframes btnSpan {
    from {
      box-shadow: 0 0 0 0 #2c2c2d;
  
    }
    to {
      box-shadow: 0 0 0 700px #2c2c2d;
    }
  }
  
  @keyframes pushUp {
    from {
        opacity: 0;
        top: 100%
    }to {
      opacity: 1;
      top: 65%
    }
  }
  

@keyframes shaking {
    from {
        left: 52%;

    }to {
        left: 58%;
    }
}

@keyframes webDevExit {
    to {
        opacity: 0;
        left: 30%;
    }
}

@keyframes switchFB {
    0% {
        top: 65%;
        left: 55%;
    }
    25% {
        top: 50%;
        left: 27%;
    }
    100%{
        top: 65%;
        left: 27%;
    }


}

@keyframes switchBF {
    from {
        top: 65%;
        left: 27%;
    }
    to {
        top: 65%;
        left: 55%;
    }


}

