@import url("https://fonts.googleapis.com/css?family=Varela+Round|Work+Sans");

* {
  margin: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgb(71, 71, 71);
}
.bgwhite {
  background-color: rgba(255, 255, 255, 0.2);
}
.bgyellow {
  background-color: rgba(255, 251, 45, 0.2);
}
.content-full {
  width: 90% !important;
  min-height: 40% !important;
}
.float {
  position: fixed;
  z-index: 3;
  top: -50px;
  right: 0;
  color: white;
  background-color: #fff;
  padding: 2px 7px;
  border-radius: 0 0 0 10px;
  animation: pullDown .5s ease-out  2s  forwards;
  .contact {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    a{
      margin: 0 0 0 10px ;
      text-decoration: none;
      display: flex;
      span {
        visibility: hidden;
        font-size: 0;
        margin: 0 5px;
        color: #011b3b;
        text-shadow: none;
        transition :  0.25s;
      }
      .fa-github-square {
        position: relative;
        background-color: #fff;
        color: #2b2b2b;
        cursor: pointer;
        text-shadow: none;

      }
      .fa-facebook-square {
        color: rgb(8, 62, 163);
        cursor: pointer;
        text-shadow: none;
      
      }
      &:hover span{
        visibility: visible;
        font-size: 20px;
      }
    }
  }
}

@keyframes pullDown {

  to {
    top: 0;
  }
}
.sm-height-full{
    height: 90% !important;              
}
body {
  min-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: #033471;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;

  #backG {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    img {
      position: fixed;
      top: -10%;
      min-width: 100%;
    }
  }
  
  .container {
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 100%;
    height: 100%;
    .fulid {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .content {
        margin: 50px 0;
        width: 80%;
        // height: 80%;
        padding: 24px;
        border: 3px solid white;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        animation: startTime .75s ease-in-out ;

        .name {
          width: 100%;
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-size: 2.5vw;
        }
        #base_information {
          display: flex;
          align-items: center;
          align-content: space-between;
          justify-content: space-between;
          flex-direction: column;
          opacity: 0;
          animation: showTime .5s ease-in-out 0.5s forwards;
          .proImg {
            border-radius: 50%;
            width: 70%;
            height: auto;
            max-width: 350px;
            border: 5px solid white;
            margin: 16px;
          }
          #biography {
            color: white;
            font-size: 2vw;
            text-align: center;
            line-height: 35px;
            hr {
              margin: 15px 0;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

@keyframes startTime {
  from {
     opacity: 0;
     width: 0;

  }to {
    width: 80%;
  }
}
@keyframes showTime {
  from {
    opacity: 0;
    position: relative;
    top: 20px;

  }to {
    top: 0;
    opacity: 1;
  }
}
.skill_content {
  width: 80%;
  height: 80%;

  .skill {
    margin: 7px 0 ;
  }
  #eng_lng .progress_val {
    background-color: #d80abd;
    width: 30%;
  }
  #python .progress_val {
    background-color: #35a2fc;
    width: 30%;
  }
  #html_css_js .progress_val {
    background-color: #ebc004;
    width: 75%;
  }
  #sql .progress_val {
    background-color: #6e6e6e;
    width: 67%;
  }
  #VueJs .progress_val {
    background-color: #04fa62;
    width: 55%;
  }
  #AdonisJs .progress_val {
    background-color: #ac04fa;
    width: 85%;
  }
  h2 {
    display: inline-block;
    background-color: #fff;
    position: relative;
    left: 3px;
    top: 2px;
    border-radius: 10px 10px 0 0;
    padding: 3px 10px 3px 10px;
    text-shadow: none;
    font-size: 3vw;
  }
  .progress {
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 100%;

    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(48, 48, 48);
    .progress_val {
      margin: 0;
      //   width: 30%;
      height: 2.5vh;
      //   background-color: rgb(80, 68, 255);
      border-radius: 10px;
    }
  }
}

#experience {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-container {
    // margin-top: 20px;
    // padding-bottom: 50px;
    width: 90%;
    // height: 80%;
    margin: 10px;
   
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  #cattlemis {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
    .detail {
      font-size: 2.5vw;
      position: relative;
      top: -30px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(247, 149, 58);
      color: #fff;
    }
  }
}

@media screen and (min-width: 960px) {
  body {
    .content-full {
      width: 90% !important;
      min-height: 90% !important;
    }

    .container {
      
      .fulid {
        .content {
          width: 70%;
          min-height: 70%;
          padding: 0;
          #name {
            margin-top: 10px;
          }

          #base_information {
            flex-direction: row;
            justify-content: space-between;
            .proImg {
              margin: 0 30px;
            }
            #biography {
              text-align: left;
              font-size: 16px;
              margin: 0 30px;
            }
          }
        }
      }
    }
  }
  .skill_content{
      .skill{
        margin: 20px 0;
      }
      
      h2{
        font-size: 24px;
      }
      .progress{
          .progress_val{
                height: 3vh;
          }
      }
  }
  #experience {
    #cattlemis {
      .detail {
        top: -50px;
        height: 70px;
      }
    }
  }
}

