@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "keyframVideoAnimate";
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #2c2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
img,
embed,
object,
video {
  max-width: 100%;
}

.video_container {
  position: relative;
  min-width: 1280px;
  overflow: hidden;
  .video {
    width: 100%;
    height: auto;
  }
  .video_gray {
    filter: grayscale(100%);
  }
}
.overlay_video {
  background-color: transparent;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 1;
  position: absolute;

  #play {
    position: absolute;
    top: 45%;
    left: 43%;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0)
    }
  }

  #bird{
    display: none;
    position: absolute;
    top: 39%;
    left: 15%;

  }

  #cssText {
    display: none;
    position: absolute;
    font-size: 30px;
    top: 39%;
    left: 17%;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px #ffa54c, -2px 2px #ffa54c, 2px -2px #ffa54c, -2px -2px #ffa54c, 1px 1px 5px #555;
  }
  #nikeName {
    display: none;
    justify-content: center;
    align-items: center;
    width: 170px;
    background: rgb(3, 3, 3);
    height: 170px;
    position: absolute;
    font-size: 50px;
    line-height: 0;
    top: 39%;
    left: 17%;
    color: white;
    border-radius: 50%;
    overflow: hidden;
    animation: animeNikename 1s ease-in-out;
  }
  #fullname {
    border-left: 15px white solid;
    position: absolute;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
    width: 800px;
    background: orange;
    font-size: 40px;
    height: 100px;
    top: 70%;
    left: 20%;
    animation: toFullname 0.25s ease-out forwards;
    overflow: hidden;
    h1 {
      word-spacing: nowrap;
    }
  }
  #up,
  #se {
    font-size: 100px;
    color: white;
    font-weight: 800;
    width: 150px;
    height: 150px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
  }
  #up {
    background: #d04fff;
    top: 30%;
    left: 10%;
    animation: scaleUp 0.25s ease-out;
  }
  #se {
    background: #04e6a2;
    top: 30%;
    right: 10%;
    animation: pushSide 0.25s ease-out;
  }

  #webDev {
    position: absolute;
    top: 65%;
    left: 55%;
    border-right: 5px white solid;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fc2a7e;
    text-shadow: 2px 2px 1px white;
    font-size: 20px;

    color: #1c1b1b;
    width: 300px;
    height: 70px;
    animation: pushUp 0.5s ease-out, shaking 0.1s alternate 1s infinite;
  }
  #frontBack {
    display: none;
    position: absolute;
    top: 65%;
    left: 55%;
    color: white;
    text-shadow: 2px 2px 1px #ff6d05, 3px 3px 3px black;
    font-size: 24px;
    animation: crossfade 0.25s reverse, switchFB 1s normal 0.5s forwards, switchBF 0.5s alternate 2.5s infinite;
    #back {
      display: none;
    }
  }

  #end {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }
  div:first-child {
    width: 100%;
    height: 100%;
    button {
      position: absolute;
      color: white;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      top: 35%;
      left: 40%;
      font-size: 24px;
      // box-shadow: 0 0 0 700px #2c2c2d;
      border: 3px solid;
      background-color: #44c4ff;
      animation: btnShow 1s ease-in-out, btnSpan 1s ease-in-out 1s forwards;

      &:active {
        font-size: 30px;
      }
    }
  }
}
