@import 'animetion.css';
body {
    background-color: #212121;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
   
}
.container {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}
.container > h1 {
    line-height: 0;
    opacity: 1;
    font-size: 4em;
    animation: pushUpTopCrossfade ease-out ;
    animation-duration: 1.5s;
    position: relative;
}

#top_container {
    display: none;
    flex-wrap: wrap;
}
.top_container {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #01af6a;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    animation: pushSideLeft 1s ease-in-out 1.5s both;

}
.top_container > section > img {
    width: 70%;
    height: auto;
    min-width: 200px;
    border-radius: 50%;
    border: white solid 10px;
}
.top_container > section >h1 {
    margin: 0;
    line-height: 1.5em;
    font-size: 2.5em;
}
.top_container >section {
    margin: 15px;
}

#up {
    color: white;
    animation-name: changecolor ;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.container #hello {
    color: rgb(219, 148, 16)
}
#name {
    display: none;
}
.typewriter h1 {
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */  
    animation:
        typing 3.5s steps(30, end) .5s forwards,
        blinking-cursor .5s step-end infinite;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

.container_btn {
    flex-basis: 100%;
    text-align: center;
}
#btn_click {
    background: transparent;
    border: 2px white solid;
    padding: 12px 24px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
